p {
    text-transform: uppercase;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 4.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

body {
    margin: 0;
}

div {
    margin: 0;
}

.container {
    width: 250px;
}

.box {
    height: 10rem;
    width: 100%;
}

.box1 {
    color: white;
    background-color: rgb(235, 94, 84);
}

.box2 {
    background-color: aquamarine;
}

.box3 {
    color: white;
    background-color: rgb(27, 27, 46);
}

.box4 {
    background-color: rgb(255, 189, 103);
}

.disp-none1 {
    display: none;
}

@media (min-width:500px) {
    .container {
        /* width: 750px; */
        display: grid;
        grid-template-rows: 3;
        grid-template-columns: 250px 250px 250px;
    }

    .box1 {
        width: 250px;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .box2 {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
    }

    .box3 {
        height: 15rem;
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    .box3 p {
        padding: 7rem;
    }

    .box4 {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }

    .disp-none1 {
        display: block;
    }

    .disp-none {
        display: none;
    }

}